body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2e304d;
    color: white;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 0.8rem;
    overflow: hidden;
}


.header {
    display: block;
    background-color: #c0c0c0;
    color: #2e304d;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-bottom: 16px;
}

.panel {
    display: block;
    background-color: #c0c0c0;
    color: #2e304d;
    position: absolute;
    top: 70%;
    left: 30%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    /* width: 720px;
    height: 165px; */
    width: 38%;
    height: 20%;
    min-width: 180px;
    min-height: 65px;
    margin: 16px;
    padding: 16px;
    border: 2px solid black;
    border-radius: 26px;
}

#map {
    display: flex;
    /* height: 480px;
    width: 484px; */
    height: 50%;
    width: 25%;
    min-height: 240px;
    min-width: 242px;
    padding: 16px;
    margin: 16px;
    position: absolute;
    top: 10%;
    left: 36%;
    border: 2px solid black;
}

.attributes {
    position: relative;
    margin: 0;
    top: -7.2rem;
    left: 26rem;
}

.panel>h1 {
    position: relative;
    top: -10px;
}

.btn-box {
    position: absolute;
    top: 20px;
    left: 430px;
}


/*TODO: na allazei to width otan allazei to language */
#btn-satellite {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 95px;
    font-size: 1em;
    text-align: center;
    margin: 0px 4px;
    border: none;
    border-radius: 18px;
}

#btn-map {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70px;
    font-size: 1em;
    text-align: center;
    margin: 0px 4px;
    border: none;
    border-radius: 18px;
}

#btn-map:hover {
    transition: 0.2s ease-in-out;
    background-color: #72748d;
    cursor: pointer;
}

#btn-satellite:hover {
    transition: 0.2s ease-in-out;
    background-color: #72748d;
    cursor: pointer;
}

#bnt-satellite:active {
    background-color: #72748d;
    ;
}

#btn-map:active {
    background-color: #72748d;
}

.dropdown {
    position: absolute;
    top: 30%;
    left: 96%;
    margin: 1px;
}

.dropdown>label {
    font-size: 0.625em;
}

#language {
    border-radius: 26px;
    border: none;
}